{% extends 'layouts/page.njk' %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{{ caption }}</span>
    <h1 class="govuk-heading-xl">{{ heading }}</h1>

    <p class="govuk-body">{{ introText }}</p>
    <p class="govuk-body">{{ authorisationText }}</p>

    {{ govukInsetText({
      text: insetText
    }) }}

    <h2 class="govuk-heading-m">{{ prnDetailsHeading }}</h2>

    {{ govukSummaryList({
      rows: prnDetailRows
    }) }}

    <h2 class="govuk-heading-m">{{ accreditationDetailsHeading }}</h2>

    {{ govukSummaryList({
      rows: accreditationRows
    }) }}

    <form method="POST" novalidate>
      <input type="hidden" name="crumb" value="{{ crumb }}" />

      <div class="govuk-button-group">
        {{ govukButton({
          text: createButton.text
        }) }}

        {{ govukButton({
          text: cancelButton.text,
          href: cancelButton.href,
          classes: "govuk-button--warning"
        }) }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
