{% extends 'layouts/page.njk' %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ heading }}</h1>

      {{ govukInput({
        label: {
          text: tonnage.label,
          classes: "govuk-label--m"
        },
        hint: {
          text: tonnage.hint
        },
        classes: "govuk-input--width-5",
        id: "tonnage",
        name: "tonnage",
        suffix: {
          text: "Tonnes"
        },
        spellcheck: false
      }) }}

      {{ govukSelect({
        id: "recipient",
        name: "recipient",
        label: {
          text: recipient.label,
          classes: "govuk-label--m"
        },
        hint: {
          text: recipient.hint
        },
        items: recipient.items
      }) }}

      {{ govukDetails({
        summaryText: help.summary,
        html: '<p class="govuk-body">' + help.text + '</p>'
      }) }}

      {{ govukTextarea({
        name: "notes",
        id: "notes",
        label: {
          text: notes.label,
          classes: "govuk-label--m"
        },
        hint: {
          text: notes.hint
        },
        attributes: {
          maxlength: "200"
        }
      }) }}

    </div>
  </div>
{% endblock %}
