{% extends 'layouts/page.njk' %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block beforeContent %}
  {{ govukBackLink({
    text: localise("common:back"),
    href: backUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-!-margin-bottom-6" style="display: flex; justify-content: space-between; align-items: center; width: 100%">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">{{ heading }}</h1>
        <a href="{{ createUrl }}" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button">
          {{ createText }}
        </a>
      </div>

      {% if wasteBalance %}
        <div class="govuk-summary-card epr-waste-balance-banner govuk-!-margin-bottom-6">
          <div class="govuk-summary-card__title-wrapper govuk-!-padding-6">
            <div>
              <h2 class="govuk-summary-card__title" data-testid="waste-balance-amount">
                {{ wasteBalance.availableAmount | formatTonnage }} {{ localise('prns:create:tonnageSuffix') }}
              </h2>
              <p class="govuk-body-l govuk-!-margin-bottom-0 govuk-!-font-weight-bold" data-testid="waste-balance-subtitle">
                {{ localise('prns:list:availableWasteBalance') }}
              </p>
            </div>
          </div>
          <div class="govuk-summary-card__content govuk-!-padding-4">
            <p class="govuk-body govuk-!-margin-bottom-0" data-testid="waste-balance-explanation">
              {{ balanceHint }}
            </p>
          </div>
        </div>
      {% endif %}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">{{ selectHeading }}</h2>

      {{ govukTable({
        head: table.head,
        rows: table.rows
      }) }}

    </div>
  </div>
{% endblock %}
