{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% block beforeContent %}
  {% if backUrl %}
    {{ govukBackLink({
      text: localise("common:back"),
      href: backUrl
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{{ caption }}</span>
    <h1 class="govuk-heading-xl">{{ heading }}</h1>

    {% if showRegulatorLogos %}
      <div class="epr-regulator-logos govuk-!-margin-bottom-6">
        <img src="/public/assets/images/logo-sepa.svg" alt="Scottish Environment Protection Agency (SEPA)" class="epr-regulator-logo">
        <img src="/public/assets/images/logo-environment-agency.svg" alt="Environment Agency" class="epr-regulator-logo">
        <img src="/public/assets/images/logo-niea.svg" alt="Northern Ireland Environment Agency (NIEA)" class="epr-regulator-logo">
        <img src="/public/assets/images/logo-nrw.svg" alt="Natural Resources Wales" class="epr-regulator-logo">
      </div>
    {% endif %}

    {% if statusRows %}
      {{ govukSummaryList({
        rows: statusRows
      }) }}
    {% endif %}

    {% if introText %}
      <p class="govuk-body">{{ introText }}</p>
    {% endif %}
    {% if authorisationText %}
      <p class="govuk-body">{{ authorisationText }}</p>
    {% endif %}

    {% if insetText %}
      {{ govukInsetText({
        text: insetText
      }) }}
    {% endif %}

    <h2 class="govuk-heading-m">{{ prnDetailsHeading }}</h2>

    {% if complianceYearText %}
      <p class="govuk-body">{{ complianceYearText | safe }}</p>
    {% endif %}

    {{ govukSummaryList({
      rows: prnDetailRows
    }) }}

    <h2 class="govuk-heading-m">{{ accreditationDetailsHeading }}</h2>

    {{ govukSummaryList({
      rows: accreditationRows
    }) }}

    {% if createButton %}
      <form method="POST" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}" />

        {{ govukButton({
          text: createButton.text
        }) }}
      </form>

      {% if discardLink %}
        <p class="govuk-body">
          <a href="{{ discardLink.href }}" class="govuk-link">{{ discardLink.text }}</a>
        </p>
      {% endif %}
    {% endif %}

    {% if returnLink %}
      <p class="govuk-body epr-print-hide">
        <a href="{{ returnLink.href }}" class="govuk-link">{{ returnLink.text }}</a>
      </p>
    {% endif %}
  </div>
</div>
{% endblock %}
