{% extends 'layouts/page.njk' %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <span class="govuk-caption-xl">{{ siteName }}</span>
        <h1 class="govuk-heading-xl">{{ heading }}</h1>
        <p>Check you’ve completed the following steps before uploading your summary log.</p>
        <p>This will ensure that your waste balance is correct and you’re meeting regulatory requirements.</p>

        {{ govukAccordion({
        id: "summary-log-upload-guidance",
        showSectionText: 'Why this is needed',
        classes: ['text-wrap-pretty'],
        items: [
          {
            heading: {
              text: "You’ve completed section 1 for each load"
            },
            content: {
              text: 'A load will only be added to your waste balance when you’ve provided all the information in this section. '
            }
          },
          {
            heading: {
              text: "You’ve included all known information in sections 2, 3 and 4"
            },
            content: {
              html: '<div>
                       <p>By completing these sections you’re ensuring that:</p>
                       <ul class="govuk-list govuk-list--bullet">
                         <li>you’re meeting your regulatory requirements</li>
                         <li>reports you submit to your regulator will be accurate</li>
                       </ul>
                     </div>'
            }
          },
          {
            heading: {
              text: "You’ve adjusted any out-of-date information"
            },
            content: {
              html: '<p>You should always submit the most up-to-date information you have, to ensure that your waste balance is accurate.</p>
                     <p>Any adjustments for this reporting period will be reflected straight away in your waste balance.</p>
                     <p>Any adjustments made to loads from previous reporting periods will need to be confirmed by an approved person at your company.</p>'
            }
          },
          {
            heading: {
              text: "You’ve included any waste sent on in section 5, if applicable"
            },
            content: {
              text: 'You only need to complete this section if packaging waste has been sent on. These loads will be removed from your waste balance when all the information is provided.'
            }
          }
        ]
      }) }}

        {{ govukInsetText({
        text: "You can submit an updated summary log whenever you need to add or adjust your waste records."
      }) }}

        <form
        class="form"
        action="{{ uploadUrl }}"
        method="post"
        enctype="multipart/form-data"
      >
          {% set summaryLogUploadError = null %}
          {% if formErrors %}
            {% set summaryLogUploadError = {
              text: formErrors
            } %}
          {% endif %}
          {{ govukFileUpload({
            id: "summary-log-upload",
            name: "summaryLogUpload",
            label: { text: "Upload XLSX file" },
            javascript: true,
            attributes: {
              accept: ".xlsx"
            },
            errorMessage: summaryLogUploadError
          }) }}

          {{ govukButton({
          text: 'Continue'
        }) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}