{% extends 'layouts/page.njk' %}
{% from "summary-log-upload/macro.njk" import summaryLogUpload %}

{% block beforeContent %}
  {{ govukBackLink({
    text: localise("common:back"),
    href: backUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <span class="govuk-caption-xl">{{ caption }}</span>
        <h1 class="govuk-heading-xl">{{ heading }}</h1>

        <p>{{ introText }}</p>

        {{ summaryLogUpload({
          uploadUrl: uploadUrl,
          fileUploadLabel: localise("summary-log-upload:fileUploadLabel"),
          buttonText: localise("summary-log-upload:continueButton")
        }) }}
      </div>
    </div>
  </div>
{% endblock %}
