{% extends 'layouts/page.njk' %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block beforeContent %}
  {{ govukBackLink({
    text: localise("common:back"),
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <span class="govuk-caption-xl">{{ siteName }}</span>
        <h1 class="govuk-heading-xl">{{ heading }}</h1>

        <p>{{ localise("summary-log-upload:checkStepsIntro1") }}</p>
        <p>{{ localise("summary-log-upload:checkStepsIntro2") }}</p>

        {{ govukAccordion({
          id: "summary-log-upload-guidance",
          showSectionText: localise("summary-log-upload:accordionWhyNeeded"),
          classes: ['text-wrap-pretty'],
          items: [
            {
              heading: {
                text: localise("summary-log-upload:accordionSection1Heading")
              },
              content: {
                text: localise("summary-log-upload:accordionSection1Text")
              }
            },
            {
              heading: {
                text: localise("summary-log-upload:accordionSection2Heading")
              },
              content: {
                html: '
                  <div>
                    <p>' ~ localise("summary-log-upload:accordionSection2Intro") ~ '</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>' ~ localise("summary-log-upload:accordionSection2Bullet1") ~ '</li>
                      <li>' ~ localise("summary-log-upload:accordionSection2Bullet2") ~ '</li>
                    </ul>
                  </div>'
              }
            },
            {
              heading: {
                text: localise("summary-log-upload:accordionSection3Heading")
              },
              content: {
                html: '
                  <p>' ~ localise("summary-log-upload:accordionSection3Paragraph1") ~ '</p>
                  <p>' ~ localise("summary-log-upload:accordionSection3Paragraph2") ~ '</p>
                  <p>' ~ localise("summary-log-upload:accordionSection3Paragraph3") ~ '</p>'
              }
            },
            {
              heading: {
                text: localise("summary-log-upload:accordionSection4Heading")
              },
              content: {
                text: localise("summary-log-upload:accordionSection4Text")
              }
            }
          ]
        }) }}

        {{ govukInsetText({
          text: localise("summary-log-upload:insetText")
        }) }}

        <form
          class="form"
          action="{{ uploadUrl }}"
          method="post"
          enctype="multipart/form-data"
        >
          {% set summaryLogUploadError = null %}
          {% if formErrors %}
            {% set summaryLogUploadError = {
              text: formErrors
            } %}
          {% endif %}

          {{ govukFileUpload({
            id: "summary-log-upload",
            name: "summaryLogUpload",
            label: { text: localise("summary-log-upload:fileUploadLabel") },
            javascript: true,
            attributes: {
              accept: ".xlsx"
            },
            errorMessage: summaryLogUploadError
          }) }}

          {{ govukButton({
            text: localise("summary-log-upload:continueButton")
          }) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
