{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <h1 class="govuk-heading-l">{{ localise('regulators:notAuthorised:heading') }}</h1>
        <p class="govuk-body">{{ localise('regulators:notAuthorised:body') }}</p>
        <p class="govuk-body">
          <a class="govuk-link" href="{{ signOutUrl }}" data-testid="sign-out-link">{{ localise('regulators:notAuthorised:signOut') }}</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
