include:
  - compose.shared.yml

services:
  epr-backend:
    depends_on:
      localstack:
        condition: service_healthy
      mongodb:
        condition: service_started
    env_file:
      - 'compose/aws.env'
    environment:
      AUDIT_ENABLED: false
      FEATURE_FLAG_SUMMARY_LOGS: true
      GOVUK_NOTIFY_API_KEY: /run/secrets/govuk_notify_api_key
      LOCALSTACK_ENDPOINT: http://localstack:4566
      MONGO_URI: mongodb://mongodb:27017/
      NODE_ENV: development
      PORT: 3001
      S3_ENDPOINT: http://localstack:4566
    image: defradigital/epr-backend:${BACKEND_VERSION:-latest}
    links:
      - 'localstack:localstack'
      - 'mongodb:mongodb'
    networks:
      - cdp-tenant
    ports:
      - '3001:3001'
    profiles:
      - all
    secrets:
      - govuk_notify_api_key

  epr-frontend:
    build:
      context: .
      dockerfile: Dockerfile.local
    depends_on:
      localstack:
        condition: service_healthy
      redis:
        condition: service_started
    develop:
      watch:
        - path: src/
          action: sync
          target: /app/src/
          ignore:
            - node_modules/
        - path: .browserslistrc
          action: rebuild
        - path: babel.config.cjs
          action: rebuild
        - path: nodemon.json
          action: rebuild
        - path: package.json
          action: rebuild
        - path: tsconfig.json
          action: rebuild
        - path: webpack.config.js
          action: rebuild
    env_file:
      - 'compose/aws.env'
    environment:
      CDP_UPLOADER_URL: http://cdp-uploader:7337
      DEFRA_ID_CLIENT_ID: 63983fc2-cfff-45bb-8ec2-959e21062b9a
      DEFRA_ID_CLIENT_SECRET: test_value
      DEFRA_ID_OIDC_CONFIGURATION_URL: http://localhost:3200/cdp-defra-id-stub/.well-known/openid-configuration
      DEFRA_ID_SERVICE_ID: d7d72b79-9c62-ee11-8df0-000d3adf7047
      EPR_BACKEND_URL: ${EPR_BACKEND_URL:-http://epr-backend:3001}
      LOCALSTACK_ENDPOINT: http://localstack:4566
      NODE_ENV: development
      PORT: 3000
      REDIS_HOST: redis
      USE_SINGLE_INSTANCE_CACHE: true
    extra_hosts:
      - 'localhost:host-gateway'
    networks:
      - cdp-tenant
    ports:
      - '3000:3000'
    profiles:
      - all

secrets:
  govuk_notify_api_key:
    environment: GOVUK_NOTIFY_API_KEY
