{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <h2 class="govuk-heading-l">Packaging waste records</h2>
        <p>
          <a
            href="/organisations/{{ organisationId }}/registrations/{{ registrationId }}/summary-log/upload"
            class="govuk-link"
          >
            Submit summary log
          </a>
        </p>
      </div>
    </div>
  </div>

{% endblock %}
