{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ localise('account:emailNotRecognised:heading') }}</h1>

      <p class="govuk-body">{{ localise('account:emailNotRecognised:bodyOne') }}</p>

      <p class="govuk-body">{{ localise('account:emailNotRecognised:bodyTwo') }}</p>

      <p class="govuk-body">{{ localise('account:emailNotRecognised:youCan') }}</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>{{ localise('account:emailNotRecognised:listItemOne') }}</li>
        <li>{{ localise('account:emailNotRecognised:listItemTwo') }}</li>
        <li>
          <a href="https://www.gov.uk/guidance/packaging-waste-apply-for-registration-and-accreditation-as-a-reprocessor-or-exporter#get-helpand-give-feedback" class="govuk-link">
            {{ localise('account:emailNotRecognised:contactLinkText') }}
          </a>
          {{ localise('account:emailNotRecognised:listItemThreeAfterLink') }}
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
