{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <h1 class="govuk-heading-l">Sites</h1>
        <h1 class="govuk-heading-m">Test</h1>
        <p>
          <a href="/organisations/123/registrations/456" class="govuk-link">Test Registration</a>
        </p>
      </div>
    </div>
  </div>

{% endblock %}
