{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" data-testid="app-page-body">
      <h1 class="govuk-heading-xl">{{ localise('common:serviceName') }}</h1>
      <div class="app-content-width">
        <p class="govuk-body">{{ localise('home:subheading') }}</p>

        <p class="govuk-body govuk-!-margin-bottom-7">{{ localise('home:insetText') | replace('{summaryLogLink}', '<a class="govuk-link" href="' + summaryLogGuidanceUrl + '">' + localise('home:summaryLog') + '</a>') | safe }}</p>

        {{ govukButton({
          href: startNowHref,
          text: localise('home:startNow'),
          isStartButton: true
        }) }}

        <h2 class="govuk-heading-m">{{ localise('home:firstTime:heading') }}</h2>
        <p class="govuk-body">{{ localise('home:firstTime:intro') }}</p>

        <ol class="govuk-list govuk-list--number">
          <li>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ localise('home:firstTime:step1:heading') }}</h3>
            <p class="govuk-body">{{ localise('home:firstTime:step1:text') }}</p>
          </li>
          <li>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ localise('home:firstTime:step2:heading') }}</h3>
            <p class="govuk-body">{{ localise('home:firstTime:step2:text') }}</p>
          </li>
          <li>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ localise('home:firstTime:step3:heading') }}</h3>
            <p class="govuk-body">{{ localise('home:firstTime:step3:text') }}</p>
          </li>
          <li>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ localise('home:firstTime:step4:heading') }}</h3>
            <p class="govuk-body">{{ localise('home:firstTime:step4:text') }}</p>
          </li>
        </ol>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="app-related-items">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">{{ localise('home:quickLinks:heading') }}</h2>
        <ul class="govuk-list govuk-list--spaced">
          <li>
            <a class="govuk-link" href="{{ applyForRegistrationUrl }}">{{ localise('home:quickLinks:applyForRegistration') }}</a>
          </li>
          <li>
            <a class="govuk-link" href="{{ summaryLogsOverviewUrl }}">{{ localise('home:quickLinks:summaryLogsOverview') }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
