{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p>{{ localise("home:languageNotice") | safe }}</p>
        <p>{{ greeting }}</p>
        <p>{{ messageZero }}</p>
        <p>{{ messageOne }}</p>
        <p>{{ messageThree }}</p>
        <h1 class="govuk-heading-l">{{ localise("home:heading") | safe }}</h1>
        <h1 class="govuk-heading-m">{{ localise("common:serviceName") | safe }}</h1>
        <p>
          <a href="/organisations/123/registrations/456" class="govuk-link">Test Registration</a>
        </p>
      </div>
    </div>
  </div>

{% endblock %}
