{% extends 'layouts/page.njk' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        {{ localise('summary-log:successPageTitle') }}
      </h1>
    </div>

    <p class="govuk-body">
      {{ localise('summary-log:successBodyText') }}
    </p>

    <p class="govuk-body">
      <a href="/organisations/{{ organisationId }}" class="govuk-link">{{ localise('summary-log:returnToHome') }}</a>
    </p>
  </div>
</div>
{% endblock %}
