{% extends 'layouts/page.njk' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        {{ localise('summary-log:successPageTitle') }}
      </h1>
      {% if wasteBalance is defined %}
      <div class="govuk-panel__body">
        {{ localise('summary-log:wasteBalanceLabel') }}<br>
        <strong>{{ wasteBalance | formatTonnage }} {{ localise('summary-log:tonnes') }}</strong>
      </div>
      {% endif %}
    </div>

    <p class="govuk-body">
      {{ localise('summary-log:successBodyText') }}
    </p>

    {% if showFurtherAction %}
    <h2 class="govuk-heading-m">{{ localise('summary-log:closedPeriodAdjustments.furtherActionHeading') }}</h2>
    <p class="govuk-body">{{ localise('summary-log:closedPeriodAdjustments.furtherActionPara1') }}</p>
    <p class="govuk-body">{{ localise('summary-log:closedPeriodAdjustments.furtherActionPara2') }}</p>
    <p class="govuk-body">{{ localise('summary-log:closedPeriodAdjustments.furtherActionPara3') }}</p>
    {{ govukButton({
      text: localise('summary-log:closedPeriodAdjustments.goToReports'),
      href: '/organisations/' + organisationId + '/registrations/' + registrationId + '/reports'
    }) }}
    {% endif %}

    <p class="govuk-body">
      <a href="/organisations/{{ organisationId }}" class="govuk-link">{{ localise('summary-log:returnToHome') }}</a>
    </p>
  </div>
</div>
{% endblock %}
