{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ localise('cookies:heading') }}</h1>

      <p class="govuk-body">{{ localise('cookies:intro1') }}</p>

      <p class="govuk-body">{{ localise('cookies:intro2', { serviceName: localise('common:serviceName') }) }}</p>

      <h2 class="govuk-heading-m">{{ localise('cookies:essentialCookies:heading') }}</h2>

      <p class="govuk-body">{{ localise('cookies:essentialCookies:description') }}</p>

      {{ govukTable({
        head: [
          { text: localise('cookies:table:name') },
          { text: localise('cookies:table:purpose') },
          { text: localise('cookies:table:expires') }
        ],
        rows: [
          [
            { text: localise('cookies:table:crumb:name') },
            { text: localise('cookies:table:crumb:purpose') },
            { text: localise('cookies:table:crumb:expires') }
          ],
          [
            { text: localise('cookies:table:session:name') },
            { text: localise('cookies:table:session:purpose') },
            { text: localise('cookies:table:session:expires') }
          ],
          [
            { text: localise('cookies:table:userSession:name') },
            { text: localise('cookies:table:userSession:purpose') },
            { text: localise('cookies:table:userSession:expires') }
          ],
          [
            { text: localise('cookies:table:signedOutProvider:name') },
            { text: localise('cookies:table:signedOutProvider:purpose') },
            { text: localise('cookies:table:signedOutProvider:expires') }
          ],
          [
            { text: localise('cookies:table:analyticsConsent:name') },
            { text: localise('cookies:table:analyticsConsent:purpose') },
            { text: localise('cookies:table:analyticsConsent:expires') }
          ]
        ]
      }) }}

      {% if analytics.isEnabled %}
        <h2 class="govuk-heading-m">{{ localise('cookies:analyticsCookies:heading') }}</h2>

        <p class="govuk-body">{{ localise('cookies:analyticsCookies:description') }}</p>

        {{ govukTable({
          head: [
            { text: localise('cookies:table:name') },
            { text: localise('cookies:table:purpose') },
            { text: localise('cookies:table:expires') }
          ],
          rows: [
            [
              { text: localise('cookies:analyticsCookies:ga:name') },
              { text: localise('cookies:analyticsCookies:ga:purpose') },
              { text: localise('cookies:analyticsCookies:ga:expires') }
            ],
            [
              { text: localise('cookies:analyticsCookies:gaProperty:name') },
              { text: localise('cookies:analyticsCookies:gaProperty:purpose') },
              { text: localise('cookies:analyticsCookies:gaProperty:expires') }
            ]
          ]
        }) }}

        <form method="post" action="/cookies/consent">
          <input type="hidden" name="crumb" value="{{ crumb }}" />
          <input type="hidden" name="returnUrl" value="/cookies" />
          {{ govukRadios({
            name: "analytics",
            fieldset: {
              legend: {
                text: localise('cookies:choice:heading'),
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "accepted",
                text: localise('cookies:choice:accept'),
                checked: analytics.hasConsented
              },
              {
                value: "rejected",
                text: localise('cookies:choice:reject'),
                checked: analytics.hasRejected
              }
            ]
          }) }}
          {{ govukButton({ text: localise('cookies:choice:save') }) }}
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
