{#
  Row ID list macro - displays a collapsible list of row IDs

  Parameters:
    - rows: (required) Object with { count, rowIds }
    - tooManyMessage: (required) HTML message shown when count > 99
    - showLoadsText: (required) Text for "Show X loads" summary
    - explanationText: (required) Explanation text shown above the list
#}
{% macro rowIdList(params) %}
  {% if params.rows.count > 99 %}
  <p class="govuk-body">{{ params.tooManyMessage | safe }}</p>
  {% else %}
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        {{ params.showLoadsText }}
      </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body">{{ params.explanationText }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for rowId in params.rows.rowIds %}
        <li>{{ rowId }}</li>
        {% endfor %}
      </ul>
    </div>
  </details>
  {% endif %}
{% endmacro %}
