{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}
  {{ govukBackLink({ text: "Back", href: "/received-loads/carrier-details" }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>

      {{ govukSummaryList({ rows: rows }) }}

      <form method="post" action="{{ formAction }}" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}">
        {{ govukButton({ text: "Add received load", preventDoubleClick: true }) }}
      </form>
    </div>
  </div>
{% endblock %}
