{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  {{ govukBackLink({ text: "Back", href: backUrl }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary %}
        {{ govukErrorSummary(errorSummary) }}
      {% endif %}

      <form method="post" action="{{ formAction }}" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}">

        {{ govukRadios({
          name: "prnIssued",
          fieldset: {
            legend: {
              text: "Were a PRN or PERN issued on this waste?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: { text: "Waste that already has a PRN or PERN issued is not counted again in the waste balance" },
          items: prnItems,
          errorMessage: errors.prnIssued
        }) }}

        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
