@use "accessible-autocomplete/dist/accessible-autocomplete.min";
@use "govuk-frontend" as *;

.autocomplete__wrapper {
  font-family: "GDS Transport", arial, sans-serif;
}

.autocomplete__option--odd {
  background-color: inherit;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
  background-color: #1d70b8;
  color: #ffffff;
}

.epr-heading-with-action {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: govuk-spacing(4);
  margin-bottom: govuk-spacing(6);

  .govuk-button {
    margin-bottom: 0;
  }
}

.epr-tag--no-max-width {
  max-width: none;
}

.epr-regulator-logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: govuk-spacing(4);
}

.epr-regulator-logo {
  height: 40px;
  width: auto;
}
