@use "../../../../node_modules/govuk-frontend/dist/govuk/index" as *;

.epr-heading-with-action {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: govuk-spacing(4);
  margin-bottom: govuk-spacing(6);

  .govuk-button {
    margin-bottom: 0;
  }
}

.epr-tag--no-max-width {
  max-width: none;
}

.epr-regulator-logos {
  display: flex;
  flex-wrap: wrap;
  gap: govuk-spacing(4);
}
