@use "../../../../node_modules/govuk-frontend/dist/govuk/index" as *;

.epr-task-cards {
  display: flex;
  flex-wrap: wrap;

  > .govuk-grid-column-one-half {
    display: flex;
    float: none;
  }

  .govuk-summary-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 383px;
  }

  .govuk-summary-card__title-wrapper {
    min-height: 114px;
  }
}

.epr-nowrap {
  white-space: nowrap;
}

.epr-waste-balance-banner {
  border: none;

  .govuk-summary-card__title-wrapper {
    background: #e5e6e7;

    .govuk-summary-card__title {
      color: govuk-colour("blue");
      @include govuk-font($size: 48, $weight: bold);
    }

    p {
      color: govuk-colour("blue");
    }
  }

  .govuk-summary-card__content {
    background: govuk-colour("light-grey");
  }
}
