@use "../../../../node_modules/govuk-frontend/dist/govuk/index" as *;

.epr-org-panel {
  background: govuk-colour("white");
  border: 1px solid $govuk-border-colour;
  text-align: left;
}

.epr-task-cards {
  display: flex;
  flex-wrap: wrap;

  > .govuk-grid-column-one-half {
    display: flex;
    float: none;
  }

  .govuk-summary-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 383px;
  }

  .govuk-summary-card__title-wrapper {
    min-height: 114px;
  }

  .govuk-summary-card__content {
    flex-grow: 1;
  }
}

.epr-waste-balance-banner {
  border: none;

  .govuk-summary-card__title-wrapper {
    background: govuk-colour("light-grey");
  }

  .govuk-summary-card__title {
    color: govuk-colour("blue");
    @include govuk-font($size: 48, $weight: bold);
  }

  p {
    color: govuk-colour("blue");
  }
}
