{% extends 'layouts/page.njk' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        {{ heading }}
      </h1>
      <div class="govuk-panel__body">
        {{ statusLabel }}<br>
        <strong>{{ statusValue }}</strong>
      </div>
    </div>

    <p class="govuk-body">
      <a href="{{ viewButton.href }}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button" target="_blank" rel="noopener noreferrer">
        {{ viewButton.text }}
      </a>
    </p>

    <h2 class="govuk-heading-m">{{ nextStepsHeading }}</h2>

    <p class="govuk-body">
      {{ wasteBalanceMessage }}
    </p>

    <p class="govuk-body">
      {{ issueText.prefix }} <a href="{{ issueText.link.href }}" class="govuk-link">{{ issueText.link.text }}</a>{{ issueText.suffix }}
    </p>

    <p class="govuk-body">
      <a href="{{ createAnotherLink.href }}" class="govuk-link">{{ createAnotherLink.text }}</a>
    </p>

    <p class="govuk-body">
      <a href="{{ returnHomeLink.href }}" class="govuk-link">{{ returnHomeLink.text }}</a>
    </p>
  </div>
</div>
{% endblock %}
