{% from "govuk/components/feedback/macro.njk" import govukFeedback %}

{% if params.href %}
{{ govukFeedback({
  classes: 'app-satisfaction-survey',
  titleText: params.title,
  html: '<p class="govuk-body">' + params.body + '</p>' +
        '<p class="govuk-body"><a class="govuk-link" href="' + params.href + '" target="_blank" rel="noopener noreferrer">' + params.linkText + '</a></p>'
}) }}
{% endif %}
