{% from "govuk/components/button/macro.njk" import govukButton %}

{# sectionHeading, sectionHref, sectionHasRows, sectionTestId, sectionViewAllText, sectionMostRecentText #}
<div class="govuk-!-margin-top-9 govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-m govuk-!-display-inline-block govuk-!-margin-bottom-0">{{ sectionHeading }}</h2>
  {# No button where the full list would only repeat the empty state. #}
  {% if sectionHasRows %}
    {{ govukButton({
      text: sectionViewAllText,
      href: sectionHref,
      classes: "govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-left-3",
      attributes: { "data-testid": sectionTestId + "-detailed-view-link" }
    }) }}
  {% endif %}
</div>
{% if sectionHasRows %}
  <h3 class="govuk-heading-s" data-testid="{{ sectionTestId }}-most-recent">{{ sectionMostRecentText }}</h3>
{% endif %}
