{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-body" data-testid="app-page-body">

        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">{{ caption }}</span>
          {{ heading }}
        </h1>

        {% include "partials/waste-balance-ledger/table.njk" %}
      </div>
    </div>
  </div>
{% endblock %}
