{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ govukBackLink({
    text: localise("common:back"),
    href: backUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorSummary %}
        {{ govukErrorSummary({
          titleText: errorSummary.titleText,
          errorList: errorSummary.errorList
        }) }}
      {% endif %}

      <span class="govuk-caption-xl">{{ caption }}</span>
      <h1 class="govuk-heading-xl">{{ heading }}</h1>

      <p class="govuk-hint">{{ hintText }}</p>

      <form method="POST" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}" />

        {{ govukInput({
          id: "freePernTonnage",
          name: "freePernTonnage",
          inputmode: "decimal",
          spellcheck: false,
          suffix: {
            text: "tonnes"
          },
          label: {
            text: heading,
            classes: "govuk-visually-hidden"
          },
          value: value,
          errorMessage: errors.freePernTonnage if errors else null
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: localise("reports:freePernContinue"),
            name: "action",
            value: "continue"
          }) }}

          {{ govukButton({
            text: localise("reports:freePernSave"),
            name: "action",
            value: "save",
            classes: "govuk-button--secondary"
          }) }}
        </div>

        <p class="govuk-body">
          <a href="{{ deleteUrl }}" class="govuk-link">{{ localise("reports:deleteReportLink") }}</a>
        </p>
      </form>

    </div>
  </div>
{% endblock %}
