{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro tonnageBreakdown(rows, localise) %}
  {% set summaryRows = [] %}
  {% for row in rows %}
    {% set summaryRows = summaryRows.concat([{
      key: {
        text: localise(row.key),
        classes: "govuk-!-width-two-thirds"
      },
      value: { text: row.value }
    }]) %}
  {% endfor %}
  {{ govukSummaryList({ rows: summaryRows }) }}
{% endmacro %}
