{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block beforeContent %}
  {{ govukBackLink({
    text: localise("common:back"),
    href: backUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ material }}</span>
        {{ heading }}
      </h1>

      {% if not hasPeriods %}
        <p class="govuk-body">{{ emptyStateMessage }}</p>
      {% else %}

        {% if hasMonthlyPeriods %}
          <h2 class="govuk-heading-m">{{ localise("reports:monthlyHeading") }}</h2>
          {{ govukTable({
            head: monthlyTableHead,
            rows: monthlyTableRows
          }) }}
        {% endif %}

        {% if hasQuarterlyPeriods %}
          <h2 class="govuk-heading-m">{{ localise("reports:quarterlyHeading") }}</h2>
          {{ govukTable({
            head: quarterlyTableHead,
            rows: quarterlyTableRows
          }) }}
        {% endif %}

      {% endif %}

    </div>
  </div>
{% endblock %}
