{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block beforeContent %}
  {{ govukBackLink({
    text: localise("common:back"),
    href: backUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ material }}</span>
        {{ heading }}
      </h1>

      {% if not hasPeriods %}
        <p class="govuk-body">{{ emptyStateMessage }}</p>
      {% else %}
        <h2 class="govuk-heading-m">{{ cadenceHeading }}</h2>
        {% if activeRows.length %}
          <h3 class="govuk-heading-m">{{ localise("reports:actionRequiredHeading") }}</h3>
          {{ govukTable({
            head: activeTableHead,
            rows: activeRows
          }) }}
        {% endif %}
        {% if submittedRows.length %}
          <h3 class="govuk-heading-m">{{ localise("reports:submittedSectionHeading") }}</h3>
          {{ govukTable({
            head: submittedTableHead,
            rows: submittedRows
          }) }}
        {% endif %}
      {% endif %}

    </div>
  </div>
{% endblock %}
