{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: localise("common:back"),
    href: backUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">{{ caption }}</span>
      <h1 class="govuk-heading-xl">{{ heading }}</h1>

      <p class="govuk-body">{{ paragraph1 }}</p>
      <p class="govuk-body">{{ paragraph2 }}</p>
      <p class="govuk-body">{{ paragraph3 }}</p>

      {{ govukButton({
        text: continueButton.text,
        href: continueButton.href
      }) }}

      <p class="govuk-body">
        <a href="{{ cancelLink.href }}" class="govuk-link">{{ cancelLink.text }}</a>
      </p>

    </div>
  </div>
{% endblock %}
