{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% block beforeContent %}
  {{ govukBackLink({
    text: localise("common:back"),
    href: backUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ heading }}</h1>

      {{ govukInsetText({
        text: insetText
      }) }}

      <h2 class="govuk-heading-l">{{ localise("reports:submitDetailsHeading") }}</h2>

      <p class="govuk-body">
        <strong>{{ localise("reports:submitStatusLabel") }}</strong>
        {{ govukTag({ text: statusTag }) }}
      </p>
      <p class="govuk-body">
        <strong>{{ createdByLabel }}</strong> {{ createdBy }}
      </p>
      <p class="govuk-body">
        <strong>{{ createdOnLabel }}</strong> {{ createdOn }}
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">{{ localise("reports:submitYourReportHeading") }}</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: { text: localise("reports:periodColumn") },
            value: { text: periodLabel }
          },
          {
            key: { text: localise("reports:materialLabel") },
            value: { text: material }
          }
        ]
      }) }}

      {% if isExporter %}
        <h2 class="govuk-heading-l">{{ localise("reports:wasteReceivedForExportHeading") }}</h2>
      {% else %}
        <h2 class="govuk-heading-l">{{ localise("reports:wasteReceivedHeading") }}</h2>
      {% endif %}

      <p class="govuk-caption-l govuk-!-margin-bottom-1">{{ localise("reports:totalTonnageReceived") }}</p>
      <p class="govuk-heading-l">{{ wasteReceived.totalTonnage }}</p>

      {% if wasteReceived.supplierDetailRows | length > 0 %}
        <h3 class="govuk-heading-m">{{ localise("reports:suppliersHeading") }}</h3>
        {{ govukTable({
          head: [
            { text: localise("reports:supplierColumn") },
            { text: localise("reports:activityColumn") },
            { text: localise("reports:addressColumn") },
            { text: localise("reports:phoneColumn") },
            { text: localise("reports:emailColumn") }
          ],
          rows: wasteReceived.supplierDetailRows
        }) }}
      {% endif %}

      {% if wasteExported %}

        <h2 class="govuk-heading-l">{{ localise("reports:wasteExportedHeading") }}</h2>

        <p class="govuk-caption-l govuk-!-margin-bottom-1">{{ localise("reports:totalTonnageExported") }}</p>
        <p class="govuk-heading-l">{{ wasteExported.totalTonnage }}</p>

        {% if wasteExported.overseasSiteRows | length > 0 %}
          {{ govukTable({
            head: [
              { text: localise("reports:siteNameColumn") },
              { text: localise("reports:osrIdColumn") },
              { text: localise("reports:countryColumn") }
            ],
            rows: wasteExported.overseasSiteRows
          }) }}
        {% endif %}

        <h2 class="govuk-heading-l">{{ localise("reports:tonnageReceivedNotExportedHeading") }}</h2>

        <p class="govuk-caption-l govuk-!-margin-bottom-1">{{ localise("reports:tonnageReceivedNotExportedLabel") }}</p>
        <p class="govuk-heading-l">{{ wasteExported.tonnageReceivedNotExported }}</p>

        <h2 class="govuk-heading-l">{{ localise("reports:tonnageRefusedOrStoppedHeading") }}</h2>

        <p class="govuk-caption-l govuk-!-margin-bottom-1">{{ localise("reports:tonnageRefusedOrStoppedLabel") }}</p>
        <p class="govuk-heading-l">{{ wasteExported.tonnageRefusedOrStopped }}</p>

        {{ govukTable({
          rows: [
            [{ html: "<strong>" ~ localise("reports:tonnageRefusedLabel") ~ "</strong>" }, { text: wasteExported.tonnageRefused }],
            [{ html: "<strong>" ~ localise("reports:tonnageStoppedLabel") ~ "</strong>" }, { text: wasteExported.tonnageStopped }],
            [{ html: "<strong>" ~ localise("reports:tonnageRepatriatedLabel") ~ "</strong>" }, { text: wasteExported.tonnageRepatriated }]
          ]
        }) }}
      {% endif %}

      <h2 class="govuk-heading-l">{{ localise("reports:wasteSentOnHeading") }}</h2>

      <p class="govuk-caption-l govuk-!-margin-bottom-1">{{ localise("reports:totalTonnageSentOn") }}</p>
      <p class="govuk-heading-l">{{ wasteSentOn.totalTonnage }}</p>

      {{ govukTable({
        rows: [
          [{ html: "<strong>" ~ localise("reports:tonnageSentOnToReprocessors") ~ "</strong>" }, { text: wasteSentOn.toReprocessors }],
          [{ html: "<strong>" ~ localise("reports:tonnageSentOnToExporters") ~ "</strong>" }, { text: wasteSentOn.toExporters }],
          [{ html: "<strong>" ~ localise("reports:tonnageSentOnToOtherSites") ~ "</strong>" }, { text: wasteSentOn.toOtherSites }]
        ]
      }) }}

      {% if wasteSentOn.destinationDetailRows | length > 0 %}
        <h3 class="govuk-heading-m">{{ localise("reports:destinationsHeading") }}</h3>
        {{ govukTable({
          head: [
            { text: localise("reports:recipientColumn") },
            { text: localise("reports:facilityTypeColumn") },
            { text: localise("reports:addressColumn") },
            { text: localise("reports:tonnageSentOnColumn") }
          ],
          rows: wasteSentOn.destinationDetailRows
        }) }}
      {% endif %}
      
      {% if isReprocessor %}
        <h2 class="govuk-heading-l">{{ localise("reports:submitRecyclingActivityHeading") }}</h2>

        <p class="govuk-caption-l govuk-!-margin-bottom-1">{{ localise("reports:submitTotalTonnageRecycled") }}</p>
        <p class="govuk-heading-l">{{ recyclingActivity.tonnageRecycled }}</p>

        {{ govukSummaryList({
          rows: [
            {
              key: { text: localise("reports:submitTotalTonnageReceivedNotRecycled") },
              value: { text: recyclingActivity.tonnageNotRecycled }
            }
          ]
        }) }}

      {% endif %}

      {% if isAccredited %}
        {% if isExporter %}
          <h2 class="govuk-heading-l">{{ localise("reports:pernSectionHeading") }}</h2>
          <p class="govuk-caption-l govuk-!-margin-bottom-1">{{ localise("reports:pernTotalIssuedTonnage") }}</p>
        {% else %}
          <h2 class="govuk-heading-l">{{ localise("reports:prnSectionHeading") }}</h2>
          <p class="govuk-caption-l govuk-!-margin-bottom-1">{{ localise("reports:prnTotalIssuedTonnage") }}</p>
        {% endif %}

        <p class="govuk-heading-l">{{ prn.issuedTonnage | formatWholeNumberTonnage }}</p>

        {% set freeTonnageKey = localise("reports:submitFreePernsLabel") if isExporter else localise("reports:submitFreePrnsLabel") %}
        {% set freeTonnageKey = freeTonnageKey + '<br><span class="govuk-!-font-weight-regular">' + localise("reports:submitFreeTonnageNote") + '</span>' %}

        {{ govukSummaryList({
          rows: [
            {
              key: { html: freeTonnageKey },
              value: { text: prn.freeTonnage | formatWholeNumberTonnage }
            },
            {
              key: { text: localise("reports:submitTotalRevenuePern") if isExporter else localise("reports:submitTotalRevenuePrn") },
              value: { text: prn.totalRevenue | formatCurrency }
            },
            {
              key: { text: localise("reports:submitAvgPricePern") if isExporter else localise("reports:submitAvgPricePrn") },
              value: { text: prn.averagePricePerTonne | formatCurrency }
            }
          ]
        }) }}
      {% endif %}

      <h2 class="govuk-heading-l">{{ localise("reports:submitSupportingInformationHeading") }}</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: { text: localise("reports:supportingInformationLabel") },
            value: { text: supportingInformation }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l">{{ localise("reports:submitDeclarationHeading") }}</h2>

      <p class="govuk-body">{{ localise("reports:submitDeclarationText") }}</p>

      <ul class="govuk-list govuk-list--bullet">
        {% for item in declarationItems %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>

      <form method="POST" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}" />
        <input type="hidden" name="version" value="{{ version }}" />

        <div class="govuk-button-group">
          {{ govukButton({
            text: localise("reports:submitButton")
          }) }}

          {{ govukButton({
            text: localise("reports:deleteReportLink"),
            href: deleteUrl,
            classes: "govuk-button--warning"
          }) }}
        </div>
      </form>

    </div>
  </div>
{% endblock %}
