{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block beforeContent %}
  {{ govukBackLink({
    text: localise("common:back"),
    href: backUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ heading }}</h1>

      <div id="report-period">
        {{ govukSummaryList({
          rows: [
            {
              key: { text: localise("reports:periodColumn") },
              value: { text: periodLabel }
            },
            {
              key: { text: localise("reports:materialLabel") },
              value: { text: material }
            }
          ].concat([
            {
              key: { text: localise("reports:siteLabel") },
              value: { text: site }
            }
          ] if site else [])
        }) }}
      </div>

      {% if isReprocessor %}
        <div id="waste-received-for-reprocessing">
          <h2 class="govuk-heading-l">{{ localise("reports:wasteReceivedHeading") }}</h2>

          <p class="govuk-caption-l govuk-!-margin-bottom-1">{{ localise("reports:totalTonnageReceived") }}</p>
          <p class="govuk-heading-l">{{ wasteReceived.totalTonnage }}</p>

          {% if wasteReceived.supplierDetailRows | length > 0 %}
            <h3 class="govuk-heading-m">{{ localise("reports:suppliersHeading") }}</h3>
            {{ govukTable({
              head: [
                { text: localise("reports:supplierColumn") },
                { text: localise("reports:activityColumn") },
                { text: localise("reports:addressColumn") },
                { text: localise("reports:phoneColumn") },
                { text: localise("reports:emailColumn") }
              ],
              rows: wasteReceived.supplierDetailRows
            }) }}
          {% endif %}
        </div>

        <div id="packaging-waste-recycling">
          <h2 class="govuk-heading-l">{{ localise("reports:view:recyclingActivityHeading") }}</h2>

          <p class="govuk-caption-l govuk-!-margin-bottom-1">{{ localise("reports:view:totalTonnageRecycled") }}</p>
          <p class="govuk-heading-l">{{ packagingWasteRecycling.tonnageRecycled }}</p>

          {{ govukSummaryList({
            rows: [
              {
                key: { text: localise("reports:view:totalTonnageReceivedNotRecycled") },
                value: { text: packagingWasteRecycling.tonnageNotRecycled }
              }
            ]
          }) }}
        </div>
      {% endif %}

      {% if isExporter %}
        <div id="waste-received-for-exporting">
          <h2 class="govuk-heading-l">{{ localise("reports:wasteReceivedForExportHeading") }}</h2>

          <p class="govuk-caption-l govuk-!-margin-bottom-1">{{ localise("reports:totalTonnageReceived") }}</p>
          <p class="govuk-heading-l">{{ wasteReceived.totalTonnage }}</p>

          {% if wasteReceived.supplierDetailRows | length > 0 %}
            <h3 class="govuk-heading-m">{{ localise("reports:suppliersHeading") }}</h3>
            {{ govukTable({
              head: [
                { text: localise("reports:supplierColumn") },
                { text: localise("reports:activityColumn") },
                { text: localise("reports:addressColumn") },
                { text: localise("reports:phoneColumn") },
                { text: localise("reports:emailColumn") }
              ],
              rows: wasteReceived.supplierDetailRows
            }) }}
          {% endif %}
        </div>
      {% endif %}

      {% if isExporter and wasteExported %}
        <div id="waste-exported-for-recycling">
          <h2 class="govuk-heading-l">{{ localise("reports:wasteExportedHeading") }}</h2>

          <p class="govuk-caption-l govuk-!-margin-bottom-1">{{ localise("reports:totalTonnageExported") }}</p>
          <p class="govuk-heading-l">{{ wasteExported.totalTonnage }}</p>

          {% if wasteExported.overseasSiteRows | length > 0 %}
            {{ govukTable({
              head: [
                { text: localise("reports:siteNameColumn") },
                { text: localise("reports:osrIdColumn") }
              ],
              rows: wasteExported.overseasSiteRows
            }) }}
          {% endif %}
        </div>
      {% endif %}

      {% if isExporter and wasteExported %}
        <div id="waste-received-but-not-exported">
          <h2 class="govuk-heading-l">{{ localise("reports:tonnageReceivedNotExportedHeading") }}</h2>

          <p class="govuk-caption-l govuk-!-margin-bottom-1">{{ localise("reports:tonnageReceivedNotExportedLabel") }}</p>
          <p class="govuk-heading-l">{{ wasteExported.tonnageReceivedNotExported }}</p>
        </div>
      {% endif %}

      <div id="packaging-waste-sent-on">
        <h2 class="govuk-heading-l">{{ localise("reports:wasteSentOnHeading") }}</h2>

        <p class="govuk-caption-l govuk-!-margin-bottom-1">{{ localise("reports:totalTonnageSentOn") }}</p>
        <p class="govuk-heading-l">{{ wasteSentOn.totalTonnage }}</p>

        {{ govukSummaryList({
          rows: [
            {
              key: { text: localise("reports:tonnageSentOnToReprocessors") },
              value: { text: wasteSentOn.toReprocessors }
            },
            {
              key: { text: localise("reports:tonnageSentOnToExporters") },
              value: { text: wasteSentOn.toExporters }
            },
            {
              key: { text: localise("reports:tonnageSentOnToOtherSites") },
              value: { text: wasteSentOn.toOtherSites }
            }
          ]
        }) }}

        {% if wasteSentOn.destinationDetailRows | length > 0 %}
          {{ govukTable({
            caption: localise("reports:destinationsHeading"),
            captionClasses: "govuk-heading-m",
            head: [
              { text: localise("reports:recipientColumn") },
              { text: localise("reports:facilityTypeColumn") },
              { text: localise("reports:addressColumn") },
              { text: localise("reports:tonnageSentOnColumn") }
            ],
            rows: wasteSentOn.destinationDetailRows
          }) }}
        {% endif %}
      </div>

      {% if isAccredited %}
        <div id="prns">
          {% if isExporter %}
            <h2 class="govuk-heading-l">{{ localise("reports:pernSectionHeading") }}</h2>
            <p class="govuk-caption-l govuk-!-margin-bottom-1">{{ localise("reports:pernTotalIssuedTonnage") }}</p>
          {% else %}
            <h2 class="govuk-heading-l">{{ localise("reports:prnSectionHeading") }}</h2>
            <p class="govuk-caption-l govuk-!-margin-bottom-1">{{ localise("reports:prnTotalIssuedTonnage") }}</p>
          {% endif %}

          <p class="govuk-heading-l">{{ prn.issuedTonnage | formatWholeNumberTonnage }}</p>

          {{ govukSummaryList({
            rows: [
              {
                key: { text: localise("reports:view:freePernsLabel") if isExporter else localise("reports:view:freePrnsLabel") },
                value: { text: prn.freeTonnage | formatWholeNumberTonnage }
              },
              {
                key: { text: localise("reports:view:totalRevenuePern") if isExporter else localise("reports:view:totalRevenuePrn") },
                value: { text: prn.totalRevenue | formatCurrency }
              },
              {
                key: { text: localise("reports:view:avgPricePern") if isExporter else localise("reports:view:avgPricePrn") },
                value: { text: prn.averagePricePerTonne | formatCurrency }
              }
            ]
          }) }}
        </div>
      {% endif %}

      <div id="supporting-information">
        <h2 class="govuk-heading-l">{{ localise("reports:view:supportingInformationHeading") }}</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: { text: localise("reports:supportingInformationLabel") },
              value: { text: supportingInformation }
            }
          ]
        }) }}
      </div>
    </div>
  </div>
{% endblock %}
