{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block beforeContent %}
  {{ govukBackLink({
    text: localise("common:back"),
    href: backUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ heading }}</h1>

        <div id="report-period">
          {{ govukSummaryList({
            rows: [
              {
                key: { text: localise("reports:periodColumn") },
                value: { text: periodLabel }
              },
              {
                key: { text: localise("reports:materialLabel") },
                value: { text: material }
              }
            ].concat([
              {
                key: { text: localise("reports:siteLabel") },
                value: { text: site }
              }
            ] if site else [])
          }) }}
        </div>
    </div>
  </div>
{% endblock %}
