{% extends 'layouts/page.njk' %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
  <div class="govuk-grid-row epr-organisations-page">
    <div class="govuk-grid-column-full">
      <div class="govuk-body" data-testid="app-page-body">
        {% if isDefraIdEnabled %}
          {% if authedUser and authedUser.displayName %}
            <div class="govuk-panel govuk-panel--confirmation epr-welcome-panel">
              <div class="govuk-panel__body epr-welcome-panel__body">
                {{ localise('organisations:greeting') }}, <strong>{{ authedUser.displayName }}</strong>
              </div>
            </div>
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  {{ localise('organisations:viewAccountDetails') }}
                </span>
              </summary>
              <div class="govuk-details__text">
                <dl class="govuk-summary-list">
                  {% for key, value in authedUser %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">{{ key }}</dt>
                      <dd class="govuk-summary-list__value">
                        <code>{{ value }}</code>
                      </dd>
                    </div>
                  {% endfor %}
                </dl>
              </div>
            </details>
          {% endif %}
        {% endif %}

        <h1 class="govuk-heading-xl">{{ organisationName }}</h1>

          <div class="govuk-tabs" data-module="govuk-tabs">
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item{% if activeTab == 'reprocessing' %} govuk-tabs__list-item--selected{% endif %}">
                  <a class="govuk-tabs__tab" href="{{ reprocessingUrl }}">
                    {{ localise('organisations:reprocessing') }}
                  </a>
                </li>

                <li class="govuk-tabs__list-item{% if activeTab == 'exporting' %} govuk-tabs__list-item--selected{% endif %}">
                  <a class="govuk-tabs__tab" href="{{ exportingUrl }}">
                    {{ localise('organisations:exporting') }}
                  </a>
                </li>
            </ul>

            <div class="govuk-tabs__panel">
              {% if sites and sites.length > 0 %}
                {% for site in sites %}
                  <h2 class="govuk-heading-m">{{ site.name }}</h2>
                  {{ govukTable({
                    head: [
                      { text: "Material" },
                      { text: "Registration status" },
                      { text: "Accreditation status" },
                      { text: "Actions" }
                    ],
                    rows: site.tableRows
                  }) }}
                {% endfor %}
              {% else %}
                <p class="govuk-body">{{ localise('organisations:noSitesFound') }}</p>
              {% endif %}
            </div>
          </div>
      </div>
    </div>
  </div>

{% endblock %}
