{% extends 'layouts/page.njk' %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-body" data-testid="app-page-body">

        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">{{ caption }}</span>
          {{ heading }}
        </h1>

        {% set summaryListRows = [] %}
        {% for row in summaryRows %}
          {% if row.status %}
            {% set value = { html: govukTag({ text: row.status.text, classes: row.status.classes }) } %}
          {% else %}
            {% set value = { text: row.value } %}
          {% endif %}
          {% set summaryListRows = summaryListRows.concat([{ key: { text: row.key }, value: value }]) %}
        {% endfor %}

        {{ govukSummaryList({ rows: summaryListRows }) }}

      </div>
    </div>
  </div>
{% endblock %}
