{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        {% if isDefraIdEnabled %}
          {% if errorSummary %}
            {{ govukErrorSummary({
              titleText: localise('common:errorSummaryTitle'),
              errorList: errorSummary
            }) }}
          {% endif %}

          {# FIXME use a proper service name - what is this? #}
          <h1 class="govuk-heading-l">{{ localise('account:linking:heading', { serviceName: organisationName }) }}</h1>
          <p class="govuk-body">{{ localise('account:linking:bodyOne') }}</p>
          <p class="govuk-body">{{ localise('account:linking:bodyTwo') }}</p>

          <form method="POST" action="{{ localiseUrl('/account/linking') }}">
            <input type="hidden" name="crumb" value="{{ crumb }}" />
            {% set radioItems = [] %}
            {% for org in unlinked %}
              {% set radioItems = (radioItems.push({
                value: org.id,
                text: org.name
              }), radioItems) %}
            {% endfor %}

            {{ govukRadios({
              name: "organisationId",
              idPrefix: "organisation-id",
              fieldset: {
                legend: {
                  text: localise('account:linking:subheading', { serviceName: organisationName }),
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: radioItems,
              errorMessage: errors.organisationId if errors and errors.organisationId
            }) }}

            {{ govukButton({
              text: localise('account:linking:confirmButton')
            }) }}

            {# TODO list the system references at the end as per the design #}
            {{ govukDetails({
              summaryText: "Problems linking a registration?",
              html: "
                <h2 class=\"govuk-heading-m\">If the relevant registration is missing</h2>
                <p class=\"govuk-body\">
                  If you're signed into the correct account and the relevant registration is not showing,
                  contact your regulator to check that the registration has been completed.
                </p>
                <p class=\"govuk-body\">
                  If you're a consultant and need to change the business you selected when signing in,
                  sign out and sign in again as another business.
                </p>

                <h2 class=\"govuk-heading-m\">If you have any other problems</h2>
                <p class=\"govuk-body\">
                  If you're having any other issues, contact the EPR packaging helpdesk.
                </p>
                <p class=\"govuk-body\">
                  Phone: 0300 060 0002 (Monday to Friday, 8:00am to 4:30pm)<br>
                  Email: <a class=\"govuk-link\" href=\"mailto:eprcustomerservice@defra.gov.uk\">
                    eprcustomerservice@defra.gov.uk
                  </a>
                </p>
              "
            }) }}
          </form>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
