{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ localise('contact:heading') }}</h1>

      <p class="govuk-body-l">{{ localise('contact:subheading') }}</p>

      <p class="govuk-body">{{ localise('contact:regulatorIntro') }}</p>

      <h2 class="govuk-heading-s">{{ localise('contact:regulators:environmentAgency:name') }}</h2>
      <p class="govuk-body">
        {{ localise('contact:email') }} <a href="mailto:{{ localise('contact:regulators:environmentAgency:email') }}" class="govuk-link">{{ localise('contact:regulators:environmentAgency:email') }}</a><br>
        {{ localise('contact:phone') }} {{ localise('contact:regulators:environmentAgency:phone') }}
      </p>

      <h2 class="govuk-heading-s">{{ localise('contact:regulators:naturalResourcesWales:name') }}</h2>
      <p class="govuk-body">
        {{ localise('contact:email') }} <a href="mailto:{{ localise('contact:regulators:naturalResourcesWales:email') }}" class="govuk-link">{{ localise('contact:regulators:naturalResourcesWales:email') }}</a><br>
        {{ localise('contact:phone') }} {{ localise('contact:regulators:naturalResourcesWales:phone') }}
      </p>

      <h2 class="govuk-heading-s">{{ localise('contact:regulators:sepa:name') }}</h2>
      <p class="govuk-body">
        {{ localise('contact:email') }} <a href="mailto:{{ localise('contact:regulators:sepa:email') }}" class="govuk-link">{{ localise('contact:regulators:sepa:email') }}</a><br>
        {{ localise('contact:phone') }} {{ localise('contact:regulators:sepa:phone') }}
      </p>

      <h2 class="govuk-heading-s">{{ localise('contact:regulators:niea:name') }}</h2>
      <p class="govuk-body">
        {{ localise('contact:email') }} <a href="mailto:{{ localise('contact:regulators:niea:email') }}" class="govuk-link">{{ localise('contact:regulators:niea:email') }}</a><br>
        {{ localise('contact:phone') }} {{ localise('contact:regulators:niea:phone') }}
      </p>

      <p class="govuk-body">
        <a href="https://www.gov.uk/call-charges" class="govuk-link">{{ localise('contact:findCallCharges') }}</a>
      </p>

      <h2 class="govuk-heading-s">{{ localise('contact:digitalService:heading') }}</h2>
      <p class="govuk-body">{{ localise('contact:digitalService:intro') }}</p>
      <p class="govuk-body">
        {{ localise('contact:email') }} <a href="mailto:{{ localise('contact:digitalService:email') }}" class="govuk-link">{{ localise('contact:digitalService:email') }}</a><br>
        {{ localise('contact:phone') }} {{ localise('contact:digitalService:phone') }}
      </p>
      <p class="govuk-body">{{ localise('contact:digitalService:hours') }}</p>
      <p class="govuk-body">
        <a href="https://www.gov.uk/call-charges" class="govuk-link">{{ localise('contact:findCallCharges') }}</a>
      </p>
    </div>
  </div>
{% endblock %}
