@use "govuk-frontend" as *;

// Example namespaced custom element style CSS classes

.app-main-wrapper {
  display: block;
  padding-top: govuk-spacing(4);
  padding-bottom: govuk-spacing(3);
}

.text-wrap-pretty {
  text-wrap: pretty;
}

.app-colour-link {
  color: $govuk-link-colour;
}

.app-colour-secondary {
  color: $govuk-secondary-text-colour;
}
