@use "govuk-frontend" as *;

// Example namespaced custom element style CSS classes

.app-main-wrapper {
  display: block;
  padding-top: govuk-spacing(9);
  padding-bottom: govuk-spacing(7);
}

.text-wrap-pretty {
  text-wrap: pretty;
}

.app-colour-link {
  color: $govuk-link-colour;
}

.app-colour-secondary {
  color: $govuk-secondary-text-colour;
}

.app-content-width {
  max-width: 602px;
}

.app-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.app-table-cell-nowrap {
  white-space: nowrap;
  overflow-wrap: normal;
}

.app-tag-nowrap {
  max-width: none;
}
